html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Cutive Mono', monospace;
  background: #1212ca;
  background: linear-gradient(120deg, #1212ca, #0404bb);
  height: inherit;
  color: #fff;
}

h1, h3 {
  font-family: 'Bungee Shade', cursive;
}

.lead {
  font-size: 1.5rem;
}

a {
  color: #fbd84a;
  text-decoration: underline;
}

a:hover {
  color: #6dfb4a;
}

hr {
  border-top: 1px solid #423ff1;
}

.list-inline-item a {
  padding: 10px;
}
